@import url("../App.css");

#main-header-miles-ran {
  display: flex;
  flex-direction: column;
  color: darkgray;
  font-size: 20px;
  margin-right: 40px;
}

#main-header-miles-count {
  color: black;
  font-size: 55px;
}

#main-header-miles-count span {
  font-size: 35px;
}