* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: #000000;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

/* Utilities */

.divider {
  height: 1px;
  background-color: lightgray;
}

.selected {
  color: black;
}

.btn:hover {
  cursor: pointer;
}

/* Main */

ul#tabs {
  display: flex;
  list-style: none;
  margin: 15px 0 5px 0;
}

#tabs li {
  margin-right: 15px;
  color: darkgray;
}

#tabs li:hover {
  cursor: pointer;
  color: black;
}

#container {
  width: 80%;
  margin: auto;
}

/* MAIN HEADER */

#main-header {
  display: flex;
  margin-bottom: 20px;
}

/* NAVIGATION */

#nav-buttons button {
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  border-radius: 4px;
}

/* FOOD TRACKING */

#nutrition-main {
  width: 100%;
}

